<div class="banner blog center" style="margin-bottom: 100px;">
      <div class="">
     <div class="banner-home">
           <h1 class="nom"><strong>BLOG</strong></h1>
          <h4 class="fonction" style="font-style: 30px;">La vie à bord</h4>
    </div>
      </div>
      <i class="fa fa-angle-down"></i>
</div>


<div class="container">
  <div class="row">
    <% @articles.each do |article| %>
    <div class="col-xs-12 col-md-9">
          <div class="thumbnail thumbnail-blog">
            <%= cl_image_tag article.image, width: "100%" %>
            <div class="caption">
              <h3 style="color: #30BCED;"><%= article.titre%></h3>
              <p class="" style="font-size: 10px; ">Ajouter le <%= article.created_at%></p>
              <p><%= article.description%></p>
            </div>
          </div>
    </div>
    <% end %>
  </div>
</div>
