@media (max-width:450px) {

.navbar{
  min-height: 50px;
}

.banner-show{
  height: 100%;
}

.form-group .btn-primary{
  font-size: 16px;
}

.reviews{
  display: none;
}

.alacarte{
  height: 100%;
}

.kite2{
  height: 1300px;
}

.bateau{
  height: 100vh;
}

.about{
  padding: 55px;
}

.dropdown-menu{
  font-size: 16px;
}

.banner h1{
  font-size: 7vw;
}

.col-2-show{
  padding-left: 10px;
}

.banner-home{
  text-align: center;
}

h2{
  font-size: 27px;
}

.intro .titre{
  font-size: 30px;
}

.footer{
  text-align: center;
}

.cta-trans{
  font-size: 10px;
}

}
