<div class="wrapper padded" style="background-color: white;">
  <div class="container">
    <h3 style="color: gray;">- Informations tarif -</h3>
   <hr>
<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#price-in" aria-controls="price-in" role="tab" data-toggle="tab">Ce prix comprend</a></li>
    <li role="presentation"><a href="#price-out" aria-controls="price-out" role="tab" data-toggle="tab">Ce prix ne comprend pas</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="price-in">
      <ul class="padded">
        <li>La croisière privée et les équipements du bateau</li>
        <li>Service professionnel Skipper et Hôtesse/cuisinière</li>
        <li>Le logement en cabine double</li>
        <li>Les 3 repas par jour pris à bord  (Bière et Rhum offerts)</li>
        <li>Les draps et serviettes de toilette (hors draps de bain)</li>
        <li>Les assurances RC Pros</li>
        <li>Le bateau de sécu</li>
        <li>Le matériel de Palmes Masque Tuba</li>
        <li>Les pleins de gasoil, essence, eau et gaz</li>
      </ul>
    </div>
    <div role="tabpanel" class="tab-pane" id="price-out">
      <ul class="padded">
        <li>Les clearances, les droits de douane et frais administratifs</li>
        <li>La location du matériel de Kitesurf</li>
        <li>Les restaurants et consommations prises à terre</li>
        <li>Les cours de Kite donnés par notre instructrice certifié IKO</li>
        <li>Les frais de transferts jusqu'au port</li>
        <li>La caisse de Bord</li>
      </ul>
    </div>
  </div>
</div>
  </div>
</div>
