<div class="wrapper padded" style="background-color: white;">
  <div class="container">
    <h3 style="color: gray;">- Informations tarif -</h3>
   <hr>
<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#price-in" aria-controls="price-in" role="tab" data-toggle="tab">Ce prix comprend</a></li>
    <li role="presentation"><a href="#price-out" aria-controls="price-out" role="tab" data-toggle="tab">Ce prix ne comprend pas</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="price-in">
      <ul class="padded">
        <li>La croisière privée et les équipements du bateau</li>
        <li>Service professionnel Skipper et Hôtesse/cuisinière</li>
        <li>Le logement cabine double à partir de 2 jours/1 nuit</li>
        <li>Les draps et serviettes de toilette à partir de 2 jours/1 nuit</li>
        <li>Le matériel de Palmes Masque Tuba</li>
        <li>L' Assurance RC pro Skipper</li>
      </ul>
    </div>
    <div role="tabpanel" class="tab-pane" id="price-out">
      <ul class="padded">
        <li>La caisse de bord**</li>
        <li>Les approvisionnements en nourriture</li>
        <li>Les frais de gasoil, essence et eau pour bateau et annexe</li>
        <li>Les frais de transfert jusqu'au port</li>
        <li>Les dépenses personnelles</li>
        <li>Les visites à terre et restaurants</li>
      </ul>
      <i style="font-size: 12px;">**Une caisse de bord est constituée sur place afin de subvenir à toutes les dépenses de fonctionnement de la croisière. Elle comprend, les frais de port, les pleins d’eau, de fuel, d'essence et de gaz. Les taxes douanières et administratives (selon le lieu de navigation), l’entretien de la literie et le ménage.</i>
    </div>
  </div>
</div>
  </div>
</div>
