<div class=" footer">
<div class="row">
  <div class="col-xs-12 col-md-4 liste-croisiere">
    <h3>Croisière à thème</h3>
    <ul class="list-unstyled" style="color: white;">
      <% @croisieres_napolitain.each do |croisiere|%>
        <li><%= link_to croisiere.titre, croisiere_path(croisiere) %></li>
      <% end %>
</ul>
  </div>
  <div class="col-xs-12 col-md-4 liste-croisiere">
    <h3>Qui sommes-nous</h3>
   <ul class="list-unstyled">
    <li>Croisière à thème</li>
    <li>Croisière Kite</li>
    <li>Qui sommes nous</li>
    <li>Le bateau</li>
    <li>Informations et sécurité</li>
  </ul>
  </div>
    <div class="col-xs-12 col-md-4">
    <h3>Contact</h3>
   <ul class="list-unstyled">
    <li>Priscillia Soriano</li>
    <li>Brice Dufour</li>
    <li>Tel : +33 (0)6 71 23 13 73</li>
    <li>4 avenue Croussillat</li>
    <li>83 210 Solliès-pont</li>
  </ul>
  </div>
</div>


<div class="center padded">
  <%= link_to "/", class: "navbar-brand" do %>
        <%= image_tag 'final_logo.png'%>
       <% end %>
</div>

</div>


