<div class=" footer">
<div class="row">
  <div class="col-xs-12 col-md-4 liste-croisiere">
    <h3>Croisière à thème</h3>
    <ul class="list-unstyled">
<li>Croisière île aux fleurs</li>
<li>Croisière des trois Pitons</li>
<li>Croisière Pirates des Grenadines</li>
<li>Croisière Gwada: Découvrez la Guadeloupe et ses îles</li>
<li>Croisière îles sauvages, « Into the wild »</li>
<li>Mini croisières Gwada</li>
<li>Croisière St Barth et Iles du Nord</li>
<li>Croisière Iles du Nord et Iles Vierges</li>
<li>Croisière Ibiza-Formentera</li>
<li>Croisière Ibiza-Formentera-Majorque</li>
<li>Mini croisière Baléares</li>
</ul>
  </div>
  <div class="col-xs-12 col-md-4 liste-croisiere">
    <h3>Destination</h3>
   <ul class="list-unstyled">
    <li>Croisière à thème</li>
    <li>Croisière Kite</li>
    <li>Qui sommes nous</li>
    <li>Le bateau</li>
    <li>Informations et sécurité</li>
  </div>
    <div class="col-xs-12 col-md-4 liste-croisiere">
    <h3>Qui sommes nous</h3>
   <ul class="list-unstyled">
    <li>Croisière à thème</li>
    <li>Croisière Kite</li>
    <li>Qui sommes nous</li>
    <li>Le bateau</li>
    <li>Informations et sécurité</li>
  </div>
</div>
<div class="center padded">
  <%= link_to "/", class: "navbar-brand" do %>
        <%= image_tag 'final_logo.png'%>
       <% end %>

</div>

</div>


