<div class=" footer">
<div class="row">
  <div class="col-xs-12 col-md-4 liste-croisiere">
    <h3>Croisière à thème</h3>
    <ul class="list-unstyled" style="color: white;">
      <% @croisieres_napolitain.each do |croisiere|%>
        <li><%= link_to croisiere.titre, croisiere_path(croisiere) %></li>
      <% end %>
</ul>
  </div>
  <div class="col-xs-12 col-md-4 liste-croisiere">
    <h3>Qui sommes-nous</h3>
   <p>"De la croisière privée à la voile, à la croisière Kite sur les plus beaux spots des Antilles ou en Transatlantique, votre équipage est ravis de vous accueillir sur le Napolitain".</p>
  </div>
    <div class="col-xs-12 col-md-4">
    <h3>Contact</h3>
   <ul class="list-unstyled">
    <li>Priscillia Soriano</li>
    <li>Brice Dufour</li>
    <li>Association Capoupakap</li>
    <li>Sailing Cruise Adventure</li>
    <li>234 bld pont de peton</li>
    <li>13120 Gardanne</li>
    <li>Tel : +33 (0)6 71 23 13 73</li>
    <li>Email: capoupakap.sca@gmail.com</li>
    <li></li>
  </ul>
  </div>
</div>


<div class="center padded">
  <%= link_to "/", class: "navbar-brand" do %>
        <%= image_tag 'final_logo.png'%>
       <% end %>
</div>

</div>


