<div class="wrapper">
  <div class="container" style="width: 100%;">
   <div class="panel panel-primary margin-panel">
  <div class="panel-heading">Infos pratiques Martinique</div>
  <div style="padding: 11px; padding-top: 8px; padding-left: 60px; padding-right: 70px;">
    <div class="panel panel-primary margin-panel">
  <div class="panel-heading">Avant le départ</div>
  <div style="padding: 11px; padding-top: 8px; padding-left: 60px; padding-right: 70px;">
    <ul>
      <li>Papiers (UE) : carte d’identité ou passeport en cours de validité.</li>
      <li>Attention : si vous voulez vous rendre dans les îles voisines, un passeport en cours de validité est parfois nécessaire.</li>
      <li style="color: red;">Pour toutes croisières en dehors des îles françaises prévoyez du liquide et plutôt en dollars$, le taux de change étant plus intéressant dans cette devise dans les îles anglaises. </li>
      <li>Vaccins conseillés :
      <ul>
        <li>vaccinations « universelles » : diphtérie, tétanos, polio, hépatite B) </li>
        <li>pour les séjours un peu longs, hépatite A</li>
      </ul>
      </li>
    </ul>
  </div>
</div>
  <div class="panel panel-primary margin-panel">
  <div class="panel-heading">Meilleure période pour nous rejoindre</div>
  <div style="padding: 11px; padding-top: 8px; padding-left: 60px; padding-right: 70px;">
    <ul>
      <li>Meilleure saison : de fin décembre à avril (saison sèche ou carême)</li>
      <li>Durée de vol direct : 8h30.</li>
      <li>Décalage horaire : - 6h en été, - 5h en hiver. </li>
    </ul>
  </div>
</div>
<div class="panel panel-primary margin-panel">
  <div class="panel-heading">Pour nous rejoindre depuis l'aéroport</div>
  <div style="padding: 11px; padding-top: 8px; padding-left: 60px; padding-right: 70px;">
    <p>Nous nous adaptons à vos horaires.
Nous pouvons organiser des départs depuis Fort de France (nous contacter préalablement) mais généralement, c'est depuis Le Marin que débute votre aventure.</p>
<p>Dans tous les cas à votre arrivée à l'aéroport de Fort de France, contactez-nous !
 Le plus simple est de prendre un taxi directement vers notre lieu de rendez-vous, nous vous y attendrons.</p>
 <p>Nous sommes dans un département français ; une carte d'identité suffit aux Européens et aux Suisses.</p>
    <ul>
      <li>Pour les Canadiens, pas de visa nécessaire pour un séjour de moins de 3 mois.</li>
      <li>Douanes : contrôles plus fréquents pour ceux revenant des ports francs, comme Saint-Martin et Saint-Barthélemy (attention aux appareils photo et autres gadgets électroniques).</li>
    </ul>
    <p style="color: red;">IMPORTANT : vérifiez bien auprès de votre compagnie aérienne le poids de bagages autorisé. Les contrôles sont désormais très stricts, notamment au niveau du bagage cabine. Et pour votre valise en soute, le surpoids guette vite si vous rapportez un peu trop de rhum.</p>
  </div>
</div>
<div class="panel panel-primary margin-panel">
  <div class="panel-heading">Monnaie, moyens de paiement :</div>
  <div style="padding: 11px; padding-top: 8px; padding-left: 60px; padding-right: 70px;">
    <p>La monnaie est bien sûr l’euro (€).</p>
<p>Les cartes de paiement sont acceptées dans la plupart des commerces. Mais attention, ce n’est pratiquement jamais le cas dans les gîtes et les chambres d’hôtes et, bien entendu, dans les petits lolos. Il est préférable d’avoir des espèces et, petit conseil d’ami, mieux vaut répartir son argent car on entend toujours parler de vols sur les plages. Certains métropolitains qui gèrent des gîtes ou des restos sur place acceptent les règlements par chèque.</p>
 <p>Quelques établissements acceptent les chèques-vacances, les chèques-déjeuner et les tickets-restaurant. Une bonne occasion de les « écouler » les pieds dans l’eau.</p>
 <p>Distributeurs automatiques : ils sont très nombreux, et il n’y a pas de commission de retrait (maximum autorisé variable selon votre carte). On en trouve facilement dans les principales localités, mais certaines villes ne comptent parfois qu’un seul distributeur. Dans ce cas, prendre ses précautions en début de week-end (surtout lors des week-ends prolongés), car les distributeurs se vident à vitesse grand V.</p>
  </div>
</div>
<div class="panel panel-primary margin-panel">
  <div class="panel-heading">Banques</div>
  <div style="padding: 11px; padding-top: 8px; padding-left: 60px; padding-right: 70px;">
    <p>Généralement ouvertes de 7h30 à 12h et de 14h à 16h, sauf les samedi et dimanche. Certaines agences ferment également le mercredi ou le vendredi après-midi. Un conseil : prenez votre mal en patience si vous devez faire la queue.</p>
  </div>
</div>
<div class="panel panel-primary margin-panel">
  <div class="panel-heading">Budget en Martinique</div>
  <div style="padding: 11px; padding-top: 8px; padding-left: 60px; padding-right: 70px;">
    <p>Les Antilles peuvent coûter assez cher si l’on ne fait pas attention.</p>
    <p>Poste onéreux, la location de voiture : compter 250 € minimum la semaine, sans compter les éventuelles assurances en option.</p>
  </div>
</div>
<div class="panel panel-primary margin-panel">
  <div class="panel-heading">Avant ou après la croisière, n'hésitez pas à nous contacter nous avons quelques adresses à vous conseiller.</div>
  <div style="padding: 11px; padding-top: 8px; padding-left: 60px; padding-right: 70px;">
    <p>Côté hébergement, la préférence va aux locations à la semaine, en gîte. C’est l’option la plus économique. Certains préfèrent le confort des hôtels, d’autres, le charme des chambres d’hôtes. Le plus important est de bien choisir votre lieu de séjour, pour rayonner facilement depuis votre point de chute. La location d’une voiture est indispensable pour sillonner l’île (les hébergements proposent parfois des forfaits séjour + voiture).</p>
  </div>
</div>
  </div>
</div>
  </div>
</div>

