<div class="wrapper">
  <div class="container" style="width: 100%;">
   <div class="panel panel-primary margin-panel">
  <div class="panel-heading">Infos pratiques Saint Martin</div>
  <div style="padding: 11px; padding-top: 8px; padding-left: 60px; padding-right: 70px;">
    <div class="panel panel-primary margin-panel">
  <div class="panel-heading">Avant le départ</div>
  <div style="padding: 11px; padding-top: 8px; padding-left: 60px; padding-right: 70px;">
    <ul>
      <li>Papiers (pour les Français) :
      <ul>
        <li>En cas d’arrivée à l’aéroport régional de Grand-Case (côté français) : carte d’identité en cours de validité. </li>
        <li>En cas d'arrivée à l’aéroport international de Juliana (côté hollandais) : passeport en cours de validité et billet de retour ou de continuation. </li>
      </ul>
      </li>
      Attention, on peut éventuellement arriver à Saint-Martin avec une simple carte d’identité et ne pas pouvoir en repartir faute de passeport si l’on change d’aéroport.
      <li>Meilleure saison : de décembre à avril (saison sèche ou carême).</li>
      <li>Vol direct : pas de vol direct Paris - Grand-Case. Il faut faire une escale en Guadeloupe.</li>
      <li>Décalage horaire : - 6h en été, - 5h en hiver.</li>
    </ul>

  </div>
</div>
<div class="panel panel-primary margin-panel">
 <div class="panel-heading">Arriver en avion</div>
  <div style="padding: 11px; padding-top: 8px; padding-left: 60px; padding-right: 70px;">
    <ul>
      <li>Princess Juliana International Airport : situé en zone néerlandaise. Atterrissage spectaculaire sur une piste construite sur une étroite langue de terre. Nombreux vols avec l’Europe (Air France KLM, Corsair, Air Caraïbes), l’Amérique du Nord et la zone Caraïbe.
        <p>À savoir : au départ de l’aéroport, taxe de départ obligatoire de 35 $ ou 35 €, payable uniquement pour les vols charters et en espèces. Vérifiez donc si elle est incluse à l’achat de votre billet d’avion.</p></li>
      <li>Aéroport de Saint-Martin Grand-Case : situé en zone française, à Grand-Case. Tél. : 05-90-27-11-00. Petits avions pour les îles environnantes. Un aéroport encore dans son jus, à taille humaine. La zone Caraïbe est desservie par de nombreuses compagnies, dont Air Caraïbes, Air Antilles Express et Saint-Barth Commuter. </li>
    </ul>
  </div>
</div>
<div class="panel panel-primary margin-panel">
  <div class="panel-heading">Pour nous rejoindre depuis l'aéroport</div>
  <div style="padding: 11px; padding-top: 8px; padding-left: 60px; padding-right: 70px;">
    <p>Nous nous adaptons à vos horaires.
Nous pouvons organiser des départs depuis Grand -Case (nous contacter préalablement) mais généralement, c'est depuis le port de Marigot que débute votre aventure.</p>
<p>Dans tous les cas, à votre arrivée à l'aéroport de Grand Case ou Juliana, contactez-nous !
 Le plus simple est de prendre un taxi directement vers notre lieu de rendez-vous, nous vous y attendrons.</p>
  </div>
</div>
<div class="panel panel-primary margin-panel">
  <div class="panel-heading">Monnaie, moyens de paiement :</div>
  <div style="padding: 11px; padding-top: 8px; padding-left: 60px; padding-right: 70px;">
    <p>L'euro est bien la monnaie officielle, mais le dollar US est la monnaie la plus couramment utilisée.</p>
<p>Contrairement aux chèques de voyage, les chèques de métropole sont rarement acceptés.
Côté français, les distributeurs automatiques permettent de retirer des euros (et parfois des dollars), côté néerlandais, des dollars (et parfois des euros, mais le taux de conversion n'est pas très avantageux dans ce cas)</p>
 <p>Quelques établissements acceptent les chèques-vacances, les chèques-déjeuner et les tickets-restaurant. Une bonne occasion de les « écouler » les pieds dans l’eau.</p>
 <p>Distributeurs automatiques : ils sont très nombreux, et il n’y a pas de commission de retrait (maximum autorisé variable selon votre carte). On en trouve facilement dans les principales localités, mais certaines villes ne comptent parfois qu’un seul distributeur. Dans ce cas, prendre ses précautions en début de week-end (surtout lors des week-ends prolongés), car les distributeurs se vident à vitesse grand V.</p>
  </div>
</div>
<div class="panel panel-primary margin-panel">
  <div class="panel-heading">Budget à Saint Martin</div>
  <div style="padding: 11px; padding-top: 8px; padding-left: 60px; padding-right: 70px;">
    <p>Saint-Martin reste dans l'ensemble une destination onéreuse (la différence est nette dans les restaurants par rapport à la Guadeloupe ou à la Martinique). Cependant, malgré le développement de grands complexes hôteliers, il existe toujours quelques petits hôtels et restaurants à prix plus raisonnables. Évidemment, en basse saison (de mi-avril à mi-décembre), le prix de l'hébergement chute de façon significative. Attention, les prix affichés ne comprennent pas toujours les 5 % de taxe de séjour que l'on doit acquitter.</p>

  </div>
</div>
</div>




  </div>
</div>
  </div>
</div>

