<!-- <div class="video" style="margin-bottom: 200px">
  <iframe id="myVideo" src="https://www.youtube.com/embed/NyudLja1vpQ?autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0&loop=1" frameborder="0" allow="autoplay" encrypted-media" allowfullscreen></iframe>
  <div class="content center">
  <h1>Qui sommes nous</h1>
  <p></p>
</div>
</div> -->


<div class="banner about center" style="margin-bottom: 100px;">
      <div class="">
     <div class="banner-home">
           <h1 class="nom"><strong>L'équipage</strong></h1>
          <h4 class="fonction" style="font-style: 30px;">Qui sommes-nous</h4>
    </div>
      </div>
</div>


<h3 class="padded text-center">Naviguez en toute sécurité !</h3>
<div class="container padded">
  <p class="text-center"><i>"De la croisière privée à la voile, à la croisière Kite sur les plus beaux spots des Antilles ou en Transatlantique, votre équipage est ravis de vous accueillir sur le Napolitain".</i></p>
</div>


  <div class="row row-destination">
  <div class="col-xs-12 col-md-6 test">
    <div class="card-about">
       <%= image_tag 'presc.jpg', width: "100%"%>
    <h4>Votre second, Priscillia Soriano</h4>
    <div class="bandeau"></div>
    </div>
  </div>
  <div class="col-xs-12 col-md-6 test" style="color: gray; padding: 65px;">

  <p>Skipper pro, Diplômée de Marine marchande (2013), monitrice IKO (Kitesurf 2017),
Parapentiste chevronnée, certifiée vols Biplaces.
Diplômée Bac + 2 Sports Etudes (Gymnastique 2001)
Second sur une Goélette de 23m.</p>
<hr>
<p>Nombreuses transatlantiques et navigations aux Antilles dans le cadre d'un projet solidaire  et missions scientifiques Zone Bleue en Atlantique et Caraïbes (2015-2018).</p>
  </div>
</div>
<div class="row row-destination test" style="margin-bottom: 100px;">
  <div class="col-xs-12 col-md-6" style="color: gray; padding: 65px;">
  <p>Skipper pro. Diplômé de Marine marchande, Hauturier (2013),
Skipper de croisières « voile active » en Méditerranée (France,Grèce,Italie,Gibraltar – 2013-2015) et en Transatlantique (2017)</p>
<p>Diplômé d'Histoire Géographie à Paris IV la Sorbonne.</p>
<hr>
<p>Capitaine d'une Goélette de 23 m . Nombreuses transatlantiques et navigations aux Antilles dans le cadre d'un projet solidaire et missions scientifiques Zone Bleue en Atlantique et Caraïbes (2015-2018)</p>
  </div>
  <div class="col-xs-12 col-md-6 test">
    <div class="card-about">
       <%= image_tag 'bricou.jpg', width: "100%"%>
    <h4>Votre capitaine, Brice Dufour</h4>
    <div class="bandeau"></div>
    </div>
  </div>
</div>

