<div class="container">
  <h1>CONDITIONS GENERALES DE RESERVATION</h1>

<p>Les présentes conditions générales s’appliquent dans les rapports entre : L’Association CAPOUPAKAP enregistrée par la sous-préfecture d’Aix en Provence -SIREN 533 083 499- Ci-dessous désignée « l’Association »</p>

<p>Et, ses clients, qu’il s’agisse de particuliers formant un groupe, d ‘une entreprise, une  association ou  toute autre personne morale.</p>

<p>Elles font partie intégrante du contrat de prestations  conclu entre les parties. Le fait de procéder à une réservation implique donc une adhésion entière et sans réserve du « Client » aux présentes conditions générales de réservation. Toute condition contraire qui pourrait figurer sur tout document émanant du « Client » serait inopposable à l’Association CapoupaKap.</p>
<p>Elles s’appliqueront tant que dureront les relations commerciales, même en l’absence de réitération, en cas de modifications successives des conditions particulières de  la croisière.
</p>
<p>Le terme « Client » mentionné dans le présent contrat désigne, le cas échéant, l’ensemble des personnes constituant le groupe de particuliers inscrits pour la croisière.
</p>


<h2>1 – FORMATION DU CONTRAT</h2>
<h3>1.1 Modalités de réservation</h3>
<p>Dans le cadre de son projet de promotion et de découverte des sports de voile, l’Association propose un programme de croisières à la voile intitulé Sailing Cruise Adventure.
</p>
<p>La réservation se fait par téléphone, par mail ou via le site internet : www.sailing-cruise-adventure.com
</p>


<ul>
  <p>Elle n’est prise en compte par « l’Association » qu’à réception :
</p>
  <li>Du devis dûment accepté, daté et signé par le « Client » dans les 30 jours de son envoi par mail.  Passé ce délai, le devis sera caduc ;
</li>
  <li>D’un acompte de 30% du devis, porté à 80% si la réservation est effectuée moins de 60 jours avant la date de la croisière ou de l’évènement ;
</li>
  <li>D’un acompte de 50% du devis 60 jours avant la date de la croisière ou de l’évènement ;
</li>
  <li>Du dépôt de garantie fixé dans les conditions particulières ;
</li>
  <li>D’une attestation d’assurance responsabilité civile en cours de validité durant toute la période concernée par la croisière ou l’événement.
</li>
</ul>
<p>La réservation ne sera effective qu’à l’encaissement complet des acomptes.
</p>
<p>Le solde sera versé par virement 30 jours avant la date de l’évènement ou selon conditions particulières et au plus tard la veille du départ pour les réservations faites dans la semaine du départ.
</p>
<p>Les virements sont à effectuer à l’ordre de CAPOUPAKAP – Banque SOCIETE GENERALE –BOUC BEL AIR (F-13320)-IBAN : FR76 3000 3041 7600 0500 3865 348-
</p>
<h3>1.2 Confirmation de réservation </h3>
<p>A réception de la réservation, « l’Association » pourra retourner au « Client », sur simple demande et par mail, une confirmation de réservation. « l’Association » peut également refuser la réservation et restituer les paiements effectués, si celle-ci n’est pas complète ou si elle intervient après l’expiration du délai de 30 jours de validité du devis. 
</p>
<h3>1.3 Annulation</h3>
<p>Elle se fait par une demande non équivoque du  « Client »adressée par courriel  avec demande de confirmation de lecture à l’adresse capoupakap.sca@gmail.com  . « L’Association »  conservera les acomptes versés. Toutefois, en cas de force majeure qui empêcherait l’une ou  l’autre des parties de respecter ses obligations, le contrat serait automatiquement caduc, sans indemnité de part et d’autre. L’Association devant, dans un tel cas, restituer les acomptes perçus.
</p>

<h2>2– OBJET DU CONTRAT</h2>
<p>Les relations entre les parties du contrat sont également régies par les dispositions du règlement intérieur, remis  à l’accueil du « Client » et adressé par mail sur simple demande, le « Client » devra en prendre connaissance et en respecter les termes.
</p>
<p>Le « Client » désignera un responsable de groupe qui sera l’interlocuteur privilégié de « L’Association »  et lui transmettra les informations nécessaires à l’organisation de la croisière ou de l’évènement.
</p>
<h3>2.1 Accueil du « Client »</h3>
<p>L’arrivée et le départ devront impérativement être réalisés durant les plages horaires ci-dessous, aux jours et heures précisés aux conditions particulières du contrat de réservation.
</p>
<p>En cas de non respect des plages horaires d’arrivée et de départ ci-dessous, « L’Association »  se réserve le droit de procéder à une facturation  complémentaire de 50 euros par demi-heure  d’avance ou de retard.
</p>
<h3>2.2 Conditions d’accueil des groupes </h3>
<p>L’embarquement du groupe à bord du voilier a lieu le matin du premier jour de la croisière entre 9h00 et 14h00 au plus tard.
</p>
<p>Le débarquement  du groupe a lieu le dernier jour de la croisière à 17h00 au plus tard.
</p>
<h2>3– CONDITIONS FINANCIERES</h2>
<h3>3.1 Le prix</h3>
<p>Il  figure dans les conditions particulières, toutes taxes comprises, pour les prestations décrites au contrat du « Client ».Les prix sont valables pour la saison d’hiver aux Antilles du 1er décembre année N au  30 avril année N+1. En cas de réservation confirmée au cours de l’année précédant celle de la réalisation de la croisière, le prix sera maintenu, sauf si l’indice moyen des prix à la consommation fixé par l’INSEE au 31 décembre de l‘année  N-1 est égal ou supérieur à 3%. Une augmentation égale à cet indice au 31 décembre N-1 s’appliquerait  alors en totalité sur l’intégralité du montant des prestations prévues aux conditions particulières du « Client ».
</p>
<h3>3.2 Paiement</h3>
<p>Les factures dématérialisées seront transmises à  la personne morale ou physique à l’adresse courriel indiquée sur le devis approuvé et signé. Il appartiendra donc au « Client », à réception des conditions particulières de vérifier ces informations.
</p>
<p>Le montant total des prestations prévues aux conditions particulières du contrat devra avoir été encaissé en totalité par « L’Association » 30 jours avant la date de la croisière ou de l’évènement, ou au plus tard et avec l’accord écrit de CAPOUPAKAP,  la veille du départ pour les réservations confirmées dans la semaine du départ.
</p>
<ul>
  <p>Toute somme non payée à l’échéance entrainera le paiement  en sus :
</p>
<li>d’une pénalité de retard appliquée après mise en demeure sur la base du taux d’intérêt légal majoré de 30 fois le taux d’intérêt légal </li>
<li>d’une indemnité forfaitaire de 20% des sommes dues, sans mise en demeure préalable, du seul  fait du non-respect de la date d’échéance.</li>
</ul>
<p>Dans un tel cas, « L’Association »  pourra également, sans préjudice de toutes autres actions, résilier la réservation en cours.
</p>
<p>L’embarquement  du « Client » ne peut être autorisé avant encaissement  par « L’Association » de la totalité du montant  prévu aux conditions  particulières du contrat.
</p>
<p>L’embarquement retardé suite à un défaut d’encaissement, quelle qu’en soit la raison, ne peut donner lieu à aucune remise, compensation, ni remboursement ou durée  de croisière complémentaire.
</p>
<h3>3.3 Dépôt de garantie</h3>
<p>Son montant sera égal à 30% du montant total de la croisière, par personne inscrite, avec un minimum de 1500 euros TTC, versé par chèque qui pourra être débité à réception. Ill est restitué au « Client » par chèque envoyé par courrier postal ou par virement bancaire, dans les  30 jours qui suivent le dernier jour de la croisière, sous réserve du complet encaissement du prix de la prestation et déduction faite, le cas échéant,  de tous frais de remise en état ou de remplacement du matériel de bord  et indemnités au titre de tous dommages causés par le « Client » :  Participants et invités ou toute autre personne dont il aurait la responsabilité, à bord, en mer ou à terre.
</p>
<h2>4– RESPONSABILITE ET ASSURANCES</h2>
<h3>4.1 Responsabilité civile</h3>
<p>L’assurance souscrite par le propriétaire du voilier Le Napolitain mis à disposition de « l’Association CapoupaKap » et l’assurance Skipper souscrite par les professionnels réalisant cette prestation pour le compte du « Client » ne couvrent pas les dommages ou accidents causés par Le « Client » : Participants et invités, à bord, en mer ou à terre, au cours des croisières Sailing Cruise Adventure proposées par  « L’Association ».
</p>
<p>« Le Client » répondra personnellement de tout dommage, perte ou vol survenant durant la croisière ainsi que des actes de toute personne présente pendant la croisière. « L’Association ».décline toute responsabilité en cas de dommage, perte ou vol de matériel ou de toute autre bien appartenant au « Client » ou à toute autre personne participant ou invité occasionnel du « Client ».
</p>
<h3>4.2  Les dégradations ou disparitions de matériel du bord</h3>
<p>Elles sont à la charge exclusive du Client. Elles seront facturées à leur valeur de remplacement.
</p>
<h3>4.3 Les prestataires</h3>
<p>Les prestataires extérieurs non validés en Assemblée Générale annuelle par « l’Association CapoupaKap  ne sont pas admis à intervenir sur le voilier Le Napolitain.
</p>
<h3>4.4 Assurance</h3>
<p><strong>Le Client a l’obligation de s’assurer à raison des conséquences dommageables de ses actes  et de sa participation à toutes visites, sorties ou activités et de tous risques de vol, incendie et dégâts des eaux.
</strong></p>
<p>« Le Client » devra, à la réservation et au plus tard 30 jours avant le début de la croisière fournir à CapoupaKap une attestation d’assurance Particuliers couvrant toute la durée de la croisière pour chacune des personnes ou famille inscrite à la croisière : Extension du contrat «  Multirisques Habitation » à la pratique de la navigation de plaisance à la voile, en qualité de passager-équipier.
</p>
<p>A défaut, « l’Association » se réserve le droit, selon le cas, d’annuler la croisière ou de refuser l’accès à bord des personnes ou familles n’ayant pas satisfait à cette obligation.
</p>
<h2>5– LITIGES ET CLAUSE RESOLUTOIRE</h2>
<h3>5.1 Résolution du contrat</h3>
<p>Le non respect par le « Client » de toute obligation au titre du présent contrat constitue une cause de résolution de plein droit du contrat aux frais du « Client ». Dans un tel cas, « l’Association » conservera toutes les sommes déjà versées par le « Client », ainsi que, le cas échéant, le dépôt de garantie.
</p>
<p> Capoupakap est exonérée de toute responsabilité dans l’inexécution totale ou partielle du contrat résultant d’un cas fortuit, du fait d’un tiers ou d’un cas de force majeure.
</p>
<h3>5.2 Litiges et juridictions compétentes</h3>
<p>En cas de litige de toute nature ou de contestation relative à la formation du contrat ou à son exécution, le Tribunal compétent sera celui du ressort  de l’adresse du Siège de l’Association Capoupakap.</p>
</div>
