<div class="banner ile_aux_fleurs center" style="margin-bottom: 100px;">
      <div class="">
     <div class="banner-home">
           <h1 class="nom"><strong>Ile aux fleurs</strong></h1>
          <h4 class="fonction" style="font-style: 30px;">La vie à bord</h4>
    </div>
      </div>
      <i class="fa fa-angle-down"></i>
</div>
