<div class="padded about">
  <div class="">
    <p>A bord du Napolitain,vous embarquez avec professionnels de la navigation. En plus d'être des marins aguerris, nous sommes formés à la sécurité, aux techniques de secours avancées, à l'entretien mécanique et à la maintenance navale, alors laissez-vous guider et embarquez en toute sécurité! Voici la liste de nos diplômes dont nous sommes tous deux titulaires:</p>
  </div>
</div>


<div class="timeline">
  <div class="entry">
    <div class="title">
      <h3></h3>
      <p></p>
    </div>
    <div class="body">
      <p>Brevet Capitaine 200 Voile (STCW, Manille).</p>
    </div>
  </div>
  <div class="entry">
    <div class="title">
      <h3></h3>
      <p></p>
    </div>
    <div class="body">
      <p>Certificat Général Opérateur (CGO)/GMDSS General Operators Certificate</p>
    </div>
  </div>
   <div class="entry">
    <div class="title">
      <h3></h3>
      <p></p>
    </div>
    <div class="body">
      <p>Médical III/ MCA Medical Certificate</p>
    </div>
  </div>
   <div class="entry">
    <div class="title">
      <h3></h3>
      <p></p>
    </div>
    <div class="body">
      <p>Certificat de Sécurité et Sauvetage en Mer (CFBS et TIS)</p>
    </div>
  </div>
   <div class="entry">
    <div class="title">
      <h3></h3>
      <p></p>
    </div>
    <div class="body">
      <p>STCW Manille Business & Law</p>
    </div>
  </div>
   <div class="entry">
    <div class="title">
      <h3></h3>
      <p></p>
    </div>
    <div class="body">
      <p>STCW Manille Advanced fire fighting</p>
    </div>
  </div>
   <div class="entry">
    <div class="title">
      <h3></h3>
      <p></p>
    </div>
    <div class="body">
      <p>STCW Manille Advanced Sea Survival</p>
    </div>
  </div>
  <div class="entry">
    <div class="title">
      <h3></h3>
      <p></p>
    </div>
    <div class="body">
      <p>STCW Manille For persons in charge of medical care onboard</p>
    </div>
  </div>
  <div class="entry">
    <div class="title">
      <h3></h3>
      <p></p>
    </div>
    <div class="body">
      <p>STCW Manille Advanced Sea Survival</p>
    </div>
  </div>
  <div class="entry">
    <div class="title">
      <h3></h3>
      <p></p>
    </div>
    <div class="body">
      <p>STCW Manille Medical first aid onboard ships</p>
    </div>
  </div>
  <div class="entry">
    <div class="title">
      <h3></h3>
      <p></p>
    </div>
    <div class="body">
      <p>STCW Manille Navigation & Radar</p>
    </div>
  </div>
  <div class="entry">
    <div class="title">
      <h3></h3>
      <p></p>
    </div>
    <div class="body">
      <p>STCW Manille Construction and Stability</p>
    </div>
  </div>

  <div class="entry">
    <div class="title">

    </div>
    <div class="body">
      <p>STCW Manille Construction and Stability</p>

    </div>
  </div>
</div>





<div class="container padded">
<h3 class="" style="color: gray;"> - Les équipements de sécurité présents à bord du Napolitain - </h3>
<hr>

  <div class="row" style="line-height: 1.8;">

          <div class="col-md-6">
            <div>
            </div>
            <ul class="">
              <li>Equipement individuel de flottabilité (Harnais et gilet de sauvetage gonflables) </li>
              <li>Dispositif lumineux</li>
              <li>Moyens mobiles de lutte contre l’incendie ( 5 extincteurs et couverture incendie)</li>
              <li>Dispositif d’assèchement manuel (pompe à main)</li>
              <li>Dispositif de remorquage</li>
              <li>Chaine de 70 mètres et 2 ancres </li>
              <li>Annuaire des marées</li>
              <li>Pavillon national (hors eaux territoriales) </li>
             <li>Dispositif de repérage et d’assistance pour personne à la mer</li>
             <li>Coffret de fusée de détresse</li>
             <li>Compas magnétique</li>
             <li>GPS traceur, GPS Garmin</li>

            </ul>
          </div>

        <div>

          <div class="col-md-6">
            <ul class="">
              <li>Cartes marines officielles</li>
              <li>Règlement international pour prévenir les abordages en mer (RIPAM)</li>
              <li>Description du système de balisage</li>
              <li>Radeau de survie hauturier 10 personnes</li>
              <li>Matériel pour faire le point </li>
               <li>Livre des feux tenu à jour (voir che Les documents nautiques)</li>
             <li>Journal de bord Dispositif de réception des bulletins météorologiques </li>
             <li>Trousse de secours conforme à l’article 240-2,16 </li>
             <li>Dispositif lumineux pour la recherche et le repérage de nuit</li>
             <li>Radiobalise de localisation des sinistres (EPIRB)</li>
             <li>VHF fixe AIS</li>
             <li>VHF portative</li>
             <li>Transpondeur (Emetteur/Recepteur )AIS</li>
             <li>RADAR</li>
            </ul>

          </div>

          </div>

          <!-- <div class="col-md-6">
            <%= image_tag 'bateau3.jpg'%>
          </div> -->
        </div>
</div>

 <!-- Nav tabs -->
 <div class="container">
    <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#infos_martinique" aria-controls="infos_martinique" role="tab" data-toggle="tab">Infos pratiques Martinique</a></li>
    <li role="presentation"><a href="#infos_guadeloupe" aria-controls="infos_guadeloupe" role="tab" data-toggle="tab">Infos pratiques Guadeloupe</a></li>
    <li role="presentation"><a href="#infos_st_martin" aria-controls="infos_st_martin" role="tab" data-toggle="tab">Infos pratiques Saint Martin</a></li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content padded">
    <div role="tabpanel" class="tab-pane active" id="infos_martinique">
      <%= render "shared/infos_martinique" %>
    </div>
    <div role="tabpanel" class="tab-pane" id="infos_guadeloupe">
      <%= render "shared/infos_guadeloupe" %>
    </div>
    <div role="tabpanel" class="tab-pane" id="infos_st_martin">
      <%= render "shared/infos_st_martin" %>
    </div>

  </div>
</div>
  </div>
</div>


 </div>


