<div class="banner mavalise center" style="margin-bottom: 100px;">
      <div class="">
     <div class="banner-home">
      <h1 class="nom"><strong>Ma valise !</strong></h1>
          <h4 class="fonction" style="font-style: 30px;"></h4>

    </div>
      </div>
      <i class="fa fa-angle-down"></i>
</div>


<div class="container padded">
  <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Ma valise</div>
  <div class="panel-body">
    <p><h4>Voici une liste - presque exhaustive - des essentiels que vous devrez emporter dans votre bagage. Pour que votre voyage se déroule sans accroc  Bien sûr, celle liste pourra être complétée selon vos envies !</h4></p>
  </div>

  <!-- List group -->
  <ul class="list-group">
    <li class="list-group-item">Carte d’identité, passeport et visa(s) selon la destination</li>
    <li class="list-group-item">Votre permis de conduire si vous louez un véhicule avant ou après la croisière</li>
    <li class="list-group-item">Photocopie de ces pièces d’identité au cas où (ou copies numériques sur votre smartphone)</li>
    <li class="list-group-item">Carte de crédit internationale si vous passez les frontières</li>
    <li class="list-group-item">Monnaie(s) du ou des pays visités si vous allez au-delà de votre zone monétaire ou des dollars.</li>
    <li class="list-group-item">Certificat médical si votre état de santé l’exige pour embarquer</li>
    <li class="list-group-item">Vos billets d’avion pour rejoindre le port d’embarquement</li>
    <li class="list-group-item">Une liste de contacts à appeler en cas de souci que vous rangerez dans vos bagages</li>
    <li class="list-group-item">Vos médicaments (pour maux de tête, maux de ventre ou autres petits bobos auxquels vous êtes « abonnés » à conserver précieusement avec vous au cas où votre valise s’égare lors des transits)</li>
    <li class="list-group-item">Votre téléphone mobile et son chargeur</li>
    <li class="list-group-item">Vos lunettes de soleil !!!</li>
    <li class="list-group-item">Un chapeau qui tienne bien sur la tête!!</li>
    <li class="list-group-item">De la crème solaire indice 50 ça tape sur la mer !!!</li>
    <li class="list-group-item">Des livres</li>
    <li class="list-group-item">Votre appareil photo avec sa carte SD vide</li>
    <li class="list-group-item">Deux maillots de bain</li>
    <li class="list-group-item">Une serviette de bain</li>
    <li class="list-group-item">Des shorts ou des robes et jupes</li>
    <li class="list-group-item">Un ou deux paréos</li>
    <li class="list-group-item">Un sac étanche pour les transferts en annexe (Pour les papiers et l'appareil photo et tel …)</li>
    <li class="list-group-item">Une paire de Basket pour marcher beaucoup et des tongs pour flâner</li>
    <li class="list-group-item">Des pantalons légers</li>
    <li class="list-group-item">Un Jean’s (pas trop, c'est lourd)</li>
    <li class="list-group-item">Des T-shirts, Polos manches courtes et Polo manches longues pour vous abriter du soleil</li>
    <li class="list-group-item">Chemises et chemisettes (pour les sorties)</li>
    <li class="list-group-item">Bermudas</li>
    <li class="list-group-item">Shorts de sports (pour les sportifs)</li>
    <li class="list-group-item">Baskets de sports (pareil)</li>
    <li class="list-group-item">Sac à dos - sécurisant - pour la balade (avec poches intérieures et difficiles d’accès si possible pour accueillir vos papiers sensibles et moyens de paiement)</li>
    <li class="list-group-item">Un K-Way ou habit imperméable léger, petit et facile à transporter (vous ne serez jamais à l’abri d’une averse, quel que soit l’endroit)</li>
    <li class="list-group-item">Un pull ou Sweat-shirt pour le soir</li>
    <li class="list-group-item">Du dentifrice</li>
    <li class="list-group-item">Une brosse à dents</li>
    <li class="list-group-item">De la crème hydratante pour soulager votre peau après la journée (l’exposition en milieu marin peut être assez forte)</li>
    <li class="list-group-item">Du savon</li>
    <li class="list-group-item">Du shampoing</li>
    <li class="list-group-item">Du déodorant</li>
    <li class="list-group-item">Une brosse/peigne à cheveux</li>
    <li class="list-group-item">Un spray Anti-moustique</li>
    <li class="list-group-item">Un nécessaire de rasage</li>
    <li class="list-group-item">Un sac pour votre linge sale</li>
    <li class="list-group-item">Un masque de nuit et des boules Quies pour les plus sensibles</li>
    <li class="list-group-item">Et des jeux qui ne prennent pas de place si vous partez avec des enfants (Dominos, jeux de cartes…)</li>
  </ul>
</div>
</div>



