<div class="banner transatlantique center" style="margin-bottom: 100px;">
      <div class="">
     <div class="banner-home">
      <h1 class="nom"><strong>La transatlantique</strong></h1>
           <h1 class="nom"><strong>Vivez une expérience unique, dépassez vos limites!</strong></h1>
          <h4 class="fonction" style="font-style: 30px;">Envie de sentir le vent du large balayer votre visage, entendre le souffle de l'océan vrombir à vos oreilles, gouter le sel de la vie et revenir rincé de sel et de soleil après des milliers de milles à votre compteur ? Embarquez sur le « Napolitain » pour une transatlantique.</h4>

    </div>
      </div>
      <i class="fa fa-angle-down"></i>
</div>


<h3 class="text-center">LA TRANSATLANTIQUE</h3>

<div class="wrapper padded">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <p class="text-design">Embarquez avec un équipage aguerri et professionnel, sur un bateau sûr, marin, performant et parfaitement préparé à ce parcours.</p>
        <p class="text-design">Croisière limitée à 4 équipiers, vous disposerez à bord d'une cabine privative et de tout le confort du Feeling 446.</p>
        <p class="text-design">En mer, vous êtes un équipier à part entière et vous participez à l'ensemble des manœuvres. A nos côtés, vous apprenez à tenir un quart, à régler les voiles, à suivre une navigation et à utiliser l'ensemble des appareils de bord, à étudier la météo et les fichiers GRIB, vous devenez un équipier confirmé!</p>
      </div>
      <div class="col-xs-12 col-md-6">
        <%= image_tag 'slide1.jpg', width: "100%"%>
      </div>
    </div>
  </div>
</div>


<p class="text-center padded"><%= link_to "Demandez un devis sur-mesure", nil ,{:style => 'color: #30BCED; font-size: 16px; border: 1px solid #30BCED;     text-decoration: none; padding: 18px; font-size: 29px;'}%><p>


<div class="wrapper padded">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
       <%= image_tag 'card3.jpg', width: "100%"%>
      </div>
      <div class="col-xs-12 col-md-6">
        <p class="text-design">L'itinéraire: vous pouvez nous rejoindre, en fonction des places disponibles, à chacune de ces escales.</p>
        <ul class="text-design">
          <li>Depuis Marseille jusqu'à Gibraltar (environ 10 jours)</li>
          <li>De Gibraltar aux Canaries (environ 7 jours)</li>
          <li>Des Canaries au Cap vert (environ 7 jours)</li>
          <li>Du Cap vert aux Antilles (environ 15 jours)</li>
        </ul>
      </div>
    </div>
  </div>
</div>
