   <p class="text-center">ENTRER UN NOUVEL ARTICLE</p>
<%= simple_form_for(@photo) do |f| %>


  <div class="form-group">
   <%= f.input :photo1, label: :PHOTO %>
  <%= f.input :photo1_cache, as: :hidden %>
  </div>

  <%= f.submit "ENVOYER" %>
<% end %>
