.banner {
  color: white;
  text-align: center;
  //height: 20vh;
  height: calc(100vh - 140px);
  background-size: cover !important;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  //background-image: image-url('header.jpg');
  background-attachment: fixed;

}


.banner-content img{
  //width: 170px;
}

.banner-home h4{
  font-size: 4vw;
  font-weight: lighter;
  align-items: center;
  justify-content: center;

}

.banner h1 {
  font-size: 4vw;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  //color: rgba(255, 255, 255, 0.8);
  //padding-bottom: 150px;
  font-color:#EEE;

}

.banner-home{
text-align: left;
padding: 56px;
background-color: rgba(0,78,100,0.4);
}

.banner-home p{
  //padding-right: 200px;
}

.fa-angle-down{
  position: absolute;
  bottom:0px;
  font-size:60px;
  //font-weight: lighter;
}

.banner-transatlantique{
  background-size: cover;
  background-position:center;
  background-image: image-url('bateau6.jpg');
  height: 100vh;
  padding: 100px;
  background-attachment: fixed;
  overflow: hidden;
}

.banner-parallax{
 background-image: image-url('bateau4.jpg');
 height: 50vh;
}

.banner-transatlantique p{
  padding: 70px;
  color: white;
  font-size: 22px;
  background-color: rgba(0,78,100,0.4);

}

.banner-transatlantique h3{
    color: white;
    font-size: 51px;
    margin-right: 50px;
    font-weight: bold;
}

.blog{
  background-image: image-url('bateau5.jpg');
  color:white;
}

.ile_aux_fleurs{
  background-image: image-url('ile-au-fleur.jpg');
  color:white;
}

.banner-show{
  color: white;
  text-align: center;
  height: calc(80vh - 140px);
  background-size: cover !important;
  background-position: center;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
}

.banner-kite{
  background-size: cover;
  background-position:center;
  background-image: image-url('kite-surf.jpg');
  height: 70vh;
}

.card-kite{
  background-size: cover;
  background-position:center;
  background-image: image-url('kite-surf3.jpg');
  padding: 36px;
  //height: 70vh;
  //padding: 100px;
  //background-attachment: fixed;
}

.card-transatlantique{
  background-image: image-url('bateau4.jpg');
}

.card-kite p{
  padding: 70px;
  color: white;
  font-size: 15px;
  background-color: rgba(0,78,100,0.4);
  //width: 60%;

}

.card-kite h3{
    color: white;
    font-size: 34px;
    font-weight: bold;
}

.kite-header{
  color: white;
  background-color: rgba(0,78,100,0.4);
  padding: 70px;
  width: 70%;

}

.transatlantique{
  background-image: image-url('transat.jpg');
  color:white;
}

.mavalise{
  background-image: image-url('preparation.jpg');
  color:white;
}

.alacarte{
  background-image: image-url('bateau3.jpg');
}

.about{
background-image: image-url('about.jpg');
}
