.footer{
  padding: 60px;
  background-color: $rich-electric-blue;
  color: white;
  font-size: 15px;
}

.liste-croisiere{
  border-right: 1px solid #30BCED;
}

.liste-croisiere li a{
  color: white;
}
