<div class="banner-show">
<%= cl_image_tag @croisiere.photo %>
      <div class="banner-content">
     <div class="banner-home">
           <h1 class="nom"><%= @croisiere.titre %></h1>
          <h4 class="fonction" style="margin-top: -15px;">Osez l’évasion !</h4>
          <p class="nom2" style="font-weight: bold;"></p>
        <p class="presentation">Aux Antilles comme aux Baléares, à bord, chaque jour est différent, chaque croisière est unique.</p>
    </div>
      </div>
</div>

<p class="presentation"><%= @croisiere.description %></p>
